<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{ asset('Style.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.6/css/jquery.dataTables.min.css"/>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.6/js/jquery.dataTables.min.js"></script>
        <title>
            {% block title %}Valkyrie{% endblock %}</title>
    </head>

    <body>
        {% block header %}
            <br><br>
            <header>
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="nav navbar-nav collapse navbar-collapse">
                            <a class="navbar-brand logo" href="{{ path('accueil') }}">
                                <img src="{{ asset('Media/ouioui.jpg') }}"
                                     alt="" width="50px"
                                     height="50px"/>
                            </a>
                            {% if app.user %}                                
                                <a class="navbar-brand" href="{{ path('Add ad') }}">Deposer une annonce</a>
                            {% else %}

                            {% endif %}
                                
                            <a class="navbar-brand" href="{{ path('ad list') }}">Liste des annonces</a>

                            {% if app.user %}
                                <a class="navbar-brand" href="{{ path('ad favlist') }}">Favoris</a>
                                <a class="navbar-brand" href="{{ path('ad mylist') }}">Mes annonces</a>
                            {% else %}

                            {% endif %}                                        

                            <a class="navbar-brand" href="{{ path('FAQ') }}">FAQ</a>
                            <a class="navbar-brand" href="{{ path('CGU') }}">CGU</a>

                            {% if app.user %}

                            {% else %}
                                <a class="navbar-brand" href="{{ path('inscription') }}">S'inscrire</a>
                            {% endif %}

                            {% if app.user %}
                                <a href="{{ path('logout') }}" class="btn btn-lg btn-default highlight_black stylish connexion">Se déconnecter</a>
                            {% else %}
                                <a class="btn btn-lg btn-default highlight_black stylish connexion" data-toggle="modal"
                                   data-target="#login">Se connecter</a>
                            {% endif %}

                            <div class="modal fade" id="login" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Se connecter</h4>
                                        </div>
                                        <div class="modal-body">
                                            Oui bonjour on y travaille attendez un peu bande de chiens 
                                            {% if error|default('') %}
                                                <div>{{ error.messageKey|trans(error.messageData, 'security')}}</div>
                                            {% endif %}

                                            <form action='{{path('login')}}' method='post'>
                                                <label for="username">Identifiant : </label>
                                                <input type="text" id="username" name="_username" value="{{last_username|default('')}}" />

                                                <label for="password">Mot de passe : </label>
                                                <input type="password" id="password" name="_password"/>
                                                <input type="hidden" name="_target_path" value="/accueil" />                                                        
                                                <button type="submit">Valider</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <br><br>
            </header>
        {% endblock %}
        <div class="container col-lg-8 col-lg-offset-2">
            {% block main %}
                {{dump(error) }}
            {% endblock %}
        </div>
        {% block footer %}
            <br><br>
            <div class="container">
                <div class="row fixed-bottom footer">
                    <p>Sur le site Valkyrie.Satan, passez des annonces aux prix exhorbitants et non sans conséquences. Vous
                        pouvez consulter les petits sacrifices de gens particuliers et de professionnels en boucherie chevaline
                        partout en Enfer ... euh en France, que vous cherchiez des annonces immobilières, des voitures
                        d'occasion, des offres d'emploi, des meubles, du matériel électronique ou tout autre type de
                        produits...(*blush*).</p>
                </div>
            </div>
        {% endblock %}
    </body>
</html>