<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{{asset('Style.css')}}">
        <link rel="stylesheet" href="{{asset('bootstrap-3.3.7/bootstrap-3.3.7-dist/css/bootstrap.min.css')}}">
        <title>
            {% block title %}Le site officel de vente vraiment meilleur que le Bon Coin ... Oui {% endblock %}</title>
    </head>    

    <body>
        {% block header %}
            <header>        
                <nav class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">          
                        <div class="collapse navbar-collapse">
                            <a class="navbar-brand test" href="{{ path('accueil')}}"><img class="logo" src="{{asset('Media/ouioui.jpg')}}" alt="" width="50px" height="50px"/></a>      
                            <ul class="nav navbar-nav">
                                <li><a class="navbar-brand" href="{{ path('Add ad') }}">Deposer une annonce</a></li>
                                <li><a class="navbar-brand" href="#">Offres</a></li>
                                <li><a class="navbar-brand" href="#">Demandes</a></li>
                                <li><a class="navbar-brand" href="#">Mes favoris</a></li>
                                <li><a class="navbar-brand" href="#">Boutique</a></li>
                                <li><a class="navbar-brand" href="#">Messages</a></li>
                                <li><a class="navbar-brand" href="#">Blank</a></li>
                                <li><a class="navbar-brand" href="#">Se connecter</a></li>
                            </ul>
                        </div>          
                    </div>
                </nav>
                </br></br>
            </header>
        {% endblock %}   
        <div class="container col-lg-8 col-lg-offset-2">
            {% block main %}

            {% endblock %}
        </div>
        {% block footer %}
            <div class="container">
                <div name="" class="row fixed-bottom test">
                    <p>Sur le site Valkyrie.Satan, passez des annonces aux prix exhorbitants et non sans conséquences. Vous pouvez consulter les petits sacrifices de gens particuliers et de professionnels en boucherie chevaline partout en Enfer ... euh en France, que vous cherchiez des annonces immobilières, des voitures d'occasion, des offres d'emploi, des meubles, du matériel électronique ou tout autre type de produits...(*blush*).</p>
                </div>
            </div>
        {% endblock %}
    </body>   
</html>