{% extends 'general.html.twig' %}


{% block main %}
    <div class="container row col-lg-12 center-block ">
        <br>
        <table id="tableAd" class="display">
            <thead>
            <tr>
                <th style="text-align: center; padding: 5px">Catégorie</th>
                <th style="text-align: center; padding: 5px">Titre</th>
                <th style="text-align: center; padding: 5px">Description</th>
                <th style="text-align: center; padding: 5px">CodePostal</th>
                <th style="text-align: center; padding: 5px">Ville</th>
                <th style="text-align: center; padding: 5px">Prix</th>
                <th style="text-align: center; padding: 5px">Date de dépot</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in ads %}
                <a href="{{ path('get ad', {'id': ad.id}) }}">

                    <tr onclick='document.location = "{{ path('get ad', {'id': ad.id}) }}";'>
                        <td>
                            {{ ad.category.libelle }}
                        </td>
                        <td>
                            {{ ad.title }}
                        </td>
                        <td>
                            {{ ad.description }}
                        </td>
                        <td>
                            {{ ad.zip }}
                        </td>
                        <td>
                            {{ ad.city }}
                        </td>
                        <td>
                            {{ ad.price }} âmes
                        </td>
                        <td>
                            {{ ad.dateCreated.format('d/m/Y') }}
                        </td>
                    </tr>
                </a>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        $(document).ready(function () {
            $('#tableAd').DataTable();
        });
    </script>
{% endblock %}