{% extends 'general.html.twig' %}

{% block main %}
    <div class="container row col-lg-12 center-block ">
        <br>
        <table border="1px black solid collate" , style="margin-bottom: 10px">
            <tr>
                <th style="text-align: center; padding: 5px">Catégorie</th>
                <th style="text-align: center; padding: 5px">Titre</th>
                <th style="text-align: center; padding: 5px">Description</th>
                <th style="text-align: center; padding: 5px">CodePostal</th>
                <th style="text-align: center; padding: 5px">Ville</th>
                <th style="text-align: center; padding: 5px">Prix</th>
                <th style="text-align: center; padding: 5px">Date de dépot</th>
            </tr>
            {% for ad in ads %}
                <a href="{{ path('get ad', {'id': ad.id}) }}">

                    <tr onclick='document.location = "{{ path('get ad', {'id': ad.id}) }}";'>
                        <td style="padding: 5px">
                            {{ ad.category.libelle }}
                        </td>
                        <td style="padding: 5px">
                            {{ ad.title }}
                        </td>
                        <td style="padding: 5px">
                            {{ ad.description }}
                        </td>
                        <td style="padding: 5px">
                            {{ ad.zip }}
                        </td>
                        <td style="padding: 5px">
                            {{ ad.city }}
                        </td>
                        <td style="padding: 5px">
                            {{ ad.price }} âmes
                        </td>
                        <td style="padding: 5px">
                            {{ ad.dateCreated.format('d/m/Y') }}
                        </td>
                    </tr>
                </a>
            {% endfor %}
        </table>
    </div>
{% endblock %}