{% extends 'general.html.twig' %}

{% block main %}
    <div class="container row col-lg-12 center-block ">
        <br>
        <table border="1px black solid collate">
            <tr>
                <th>Catégorie</th>
                <th>Titre</th>
                <th>Description</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Date de dépot</th>
            </tr>
            {% for ad in ads %}
                <tr>
                    <td>
                        {{ ad.category.libelle }}
                    </td>
                    <td>
                        {{ ad.title }}
                    </td>
                    <td>
                        {{ ad.description }}
                    </td>
                    <td>
                        {{ ad.zip }}
                    </td>
                    <td>
                        {{ ad.city }}
                    </td>
                    <td>
                        {{ ad.dateCreated.format('d/m/Y') }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}